.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
  .container {
    justify-content: space-between;
    align-items: center;
    .logo {
      background-image: url("../images/logopng.png");
      background-size: cover;
      width: 60px;
      height: 60px;
      text-indent: -9000px;
      overflow: hidden;
    }
    i {
      font-size: 35px;
      display: none;
    }
    .nav {
      &.active {
        right: 0%;
      }
      .nav__list {
        display: flex;
        text-align: end;
        gap: 2em;
        .nav__link {
          margin: 1em 0;
          min-width: 200px;
          text-align: center;
          a {
            color: black;
            transition: all 0.2s ease;
            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  @media (max-width: 600px) {
    .container {
      justify-content: space-between;
      align-items: center;
      .logo {
        background-image: url("../images/logopng.png");
        background-size: cover;
        width: 60px;
        height: 60px;
        text-indent: -9000px;
        overflow: hidden;
      }
      i {
        display: block;
        font-size: 35px;
      }
      .nav {
        width: 100%;
        position: absolute;
        background-color: white;
        top: 70px;
        right: -100%;
        padding: 50px calc(10% + 5px);
        transition: all 0.5s ease;
        box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
        &.active {
          right: 0%;
        }
        .nav__list {
          text-align: end;
          flex-direction: column;
          gap: 1em !important;
          .nav__link {
            margin: 0.5em 0 !important;

            a {
              color: black;
            }
          }
        }
      }
    }
  }
}
