@mixin container {
  display: flex;
  margin: auto;
  padding: 10px 10%;
}

@mixin h2 {
  font-size: 2em;
  font-weight: 400;
}

@mixin card {
  width: 300px;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1em;
  border-radius: $border-radius;
  border: 1px solid rgb(223, 223, 223);
  padding: 2em;
  transition: all 0.5s ease;
  text-align: center;
  box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  h3 {
    font-weight: 400;
    width: 100%;
  }
  p {
    color: rgb(61, 61, 61);
    width: 100%;
  }
  img {
    margin: auto;
    width: 80%;
    height: 180px;
    object-fit: cover;
  }
  &.galeria {
    padding: 1em;
    width: 100%;
    img {
      object-fit: contain;
    }
  }

  &:hover {
    transform: scale(105%);
    @media (max-width: 600px) {
      transform: scale(100%);
    }
  }
}
