.section__contacto {
  padding: 100px 0;
  .container {
    align-items: center;
    gap: 3em;
    iframe {
      width: 700px;
      height: 500px;
    }
    form {
      display: flex;
      width: 100%;
      max-width: 500px;
      flex-direction: column;
      height: 100%;
      label {
        margin-top: 1em;
      }
      input {
        padding: 0.5em;
      }
      textarea {
        padding: 0.5em;
      }
    }
  }

  @media (max-width: 1200px) {
    .container {
      flex-direction: column;
      iframe {
        width: 100%;
      }
      form {
        width: 100%;
      }
    }
  }
}
